<!DOCTYPE html>
<html>
  <head>
    <title>Workshop 1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <%- include navbar %>
    </div>
  </body>
</html>
